= form_for [:admin, article] do |f|
  .row
    .col-md-8
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
    .col-md-4
      .form-group
        = f.label :picture
        = f.file_field :picture, class: "form-control"
  .row
    .col-md-12
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
  .row
    .col-md-12
      .form-group
        = f.label :body
        = f.cktext_area :body
  .form-horizontal
    .row
      .col-md-6
        .form-group
          = f.label :author, class: "col-sm-3 control-label"
          .col-sm-9
            = f.text_field :author, class: "form-control"
      .col-md-6
        .form-group
          = f.label :source, class: "col-sm-3 control-label"
          .col-sm-9
            = f.text_field :source, class: "form-control"
    .row
      .col-md-6
        .form-group
          = f.label :category_id, class: "col-sm-3 control-label"
          .col-sm-9
            = f.select :category_id, Category.all.map{ |genre| [genre, genre.id] }
      .col-md-6
        .form-group
          .col-sm-offset-3.col-sm-9
            = f.submit t('.submit'), class: "btn btn-lg btn-default"
