.media.article
  .media-left
    = link_to article do
      = image_tag article.picture.thumb.url.to_s, width: 256, class: 'media-object'
  .media-body
    = link_to article do
      %h4.media-heading= article.title
      - unless article.category.nil?
        %span.label.label-primary= article.category
      %p= article.description
    %ul.media-footer
      %li.date= l article.published_at, format: :long
      - unless article.source.blank?
        %li.source= link_to article.host, article.source
      %li.author= article.author