.media.article
  .media-left
    = link_to article do
      = image_tag article.picture.thumb.url.to_s, width: 256, class: 'media-object'
  .media-body
    = link_to article do
      %h4.media-heading= article.title
      %p= article.description
    = article_footer article