.article-card{ id: "id#{article.id}" }
  .card{ style: "background-image: url(#{article.picture.thumb.url.to_s})" }
    .card-inner
      %span.category= article.category
      .align-bottom
        = link_to article_path(article) do
          %h1.headline= article.title
        %span.author= article.author
        - unless article.source.blank?
          = link_to article.host, article.source, class: 'source'
