.media.article
  .media-left
    = link_to article do
      = image_tag article.picture.thumb.url.to_s, width: 256, class: 'media-object'
  .media-body.desc
    = link_to article do
      %h4.media-heading
        = article.title
        %small= article.author
      - unless article.category.nil?
        %span.label.label-primary= article.category
      - unless article.source.blank?
        %p.label.label-info
          = link_to article.source do
            = article.host
            %i.fa.fa-external-link
      %small.date= article.published_at
      %p= article.description
