%li.media
  .media-left
    = link_to article do
      = image_tag article.picture.thumb.url.to_s, width: 256, class: 'media-object'
  .media-body.desc
    = link_to article do
      %h4.media-heading
        = article.title
        %small= link_to 'Edit', edit_article_path(article)
        %small= article.user
      %small= article.updated_at
      %p= article.description
    %p
      = render 'publish', article: article

