- provide(:title, @article.title)
- content_for :head do
  %meta{ property: 'og:description', content: truncate(strip_tags(@article.body), length: 128) }
  %meta{ name: 'description', content: truncate(strip_tags(@article.body), length: 128) }
.row.center
  .title
    %h1= @article.title
  .cover
    = image_tag @article.picture, class: 'img-rounded center-block'
  = render 'shared/share'
.row.prose
  = sanitize(@article.body, attributes: %w(class href))
.row.article
  .col-md-offset-6.col-md-6
    %ul.media-footer
      %li.date= l @article.published_at, format: :long
      - unless @article.source.blank?
        %li.source= link_to @article.host, @article.source
      %li.author= @article.author