- provide(:title, @article.title)
- content_for :head do
  %meta{ property: 'og:description', content: truncate(strip_tags(@article.body), length: 128) }
  %meta{ name: 'description', content: truncate(strip_tags(@article.body), length: 128) }
.row
  .article-cover
    .cover{ style: "background-image: url(#{@article.picture})" }
      .cover-inner
        .align-bottom.center
          %h1.headline= @article.title
          = render 'shared/share'
          = article_footer @article
.row.prose
  = sanitize(@article.body, attributes: %w(class href))