%h2 Change your password

.row
  .col-xs-0.col-md-4
  .col-xs-12.col-md-4
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .form-group
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        = f.label :password, "New password"
        = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"

        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

        = f.submit "Change my password", class: "btn btn-primary"

    %br
    .center
      = render "devise/shared/links"
  .col-xs-0.col-md-4
