= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email, class: "sr-only"
    = f.email_field :email, autofocus: true, class: "form-control"

  .form-group
    %table.flex-tabel
      %tbody
        %td.flex-table-primary
          = f.label :password, class: "sr-only"
          = f.password_field :password, autocomplete: "off", class: "form-control"
        %td.flex-table-secondary
          = f.submit "Sign in", class: "btn btn-primary auto-width"

%br
.center
  = render "devise/shared/links"
