- provide(:title, @fiction.title)
%h1
  = link_to @fiction.title, fiction_path(@fiction)
  %small
    = link_to @fiction.author, user_path(@fiction.author)
= render 'pager', episode: @episode
.row
  - unless @fiction.genre.name == 'poetry'
    .prose.protected
      %h2= @episode.title
      = markdown @episode.body
  - else
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12
      .poetry.protected
        %h3= @episode.title
        = markdown @episode.body
= render 'pager', episode: @episode
