.row.help-item.center#pay-systems
  %h3.page-header Түләү системалары
  .row
    .col-sm-6.col-md-offset-3.col-md-2
      = link_to '#yandex', class: "scrollto" do
        = image_tag '/pay_icons/yandex.png'
        %h4 Яндекс.Деньги
    .col-sm-6.col-md-2
      = link_to '#qiwi', class: "scrollto" do
        = image_tag '/pay_icons/qiwi.png'
        %h4 Qiwi кошелек
    .col-sm-6.col-md-2
      = link_to '#cards' do
        = image_tag '/pay_icons/cards.png'
        %h4 Банк карталары
  .row
    .col-sm-6.col-md-offset-5.col-md-2
      = link_to '#other', class: "scrollto" do
        = image_tag '/pay_icons/other.png'
        %h4 Башка ысуллар
        %h5 Озакламый тагын артачак

.row.pay-item#yandex
  .col-sm-12.col-md-offset-2.col-md-8
    %p
      %b Яндекс.Деньги -
      электрон түләүләр сервисы. Безең карашка, бүгенгесе көнгә иң удайлы һәм отышлы түләү системасы. Электрон кошелекка акча кертүнең күп вариантлары тәкъдим ителә. Шулай ук, үзегезнең счетыгызга банк картасын беркетеп, сервис аша банк картасы ярдәмендә түләп була.
    %p Безнең сайтта әлеге системаны кулланырга теләсәгез, "Түләргә" төймәсенә баскач, партнер-сервис битендә уң яктагы исемлектәге "Электронный кошелек" бүлегендә Яндекс.Деньги сервисын сайлагыз. Операцияне дәвам итәр өчен "Яндекс.Деньги" сайтына күчереләчәксез.
    = link_to "Яндекс.Деньги сайты", 'https://money.yandex.ru', class: "btn btn-link"
    = link_to "Электрон кошелекка акча кертү ысуллары", 'https://money.yandex.ru/prepaid/?_openstat=imainnew;prep', class: "btn btn-link"
    = link_to "Банк картасын беркетү турында", 'https://money.yandex.ru/doc.xml?id=524335', class: "btn btn-link"

.row.pay-item#qiwi
  .col-sm-12.col-md-offset-2.col-md-8
    %p
      %b Qiwi кошелек.
      Бу системаның төп өстенлеге - киң таралган акча кертү терминаллары челтәре (бу система өчен башка ысуллар да бар). Электрон кошелек сезең телефон номерыгызга беркетелә.
    %p Безнең сайтта әлеге системаны кулланырга теләсәгез, "Түләргә" төймәсенә баскач, партнер-сервис битендә уң яктагы исемлектәге "Электронный кошелек" бүлегендә Qiwi сервисын сайлагыз һәм пәйда булган формага телефон номерын кертегез. Операцияне дәвам итәр өчен, "Qiwi Wallet" сайтына күчереләчәксез.
    = link_to "Qiwi сайты", 'https://qiwi.ru', class: "btn btn-link"
    = link_to "Электрон кошелекка акча кертү ысуллары", 'https://qiwi.ru/replenish/main.action', class: "btn btn-link"

.row.pay-item#cards
  .col-sm-12.col-md-offset-2.col-md-8
    %p
      %b Банк карталары.
      Күпчелек кеше өчен иң уңайлы ысул. Безнең партнерлар Visa һәм MasterCard операторлары карталарын кабул итәләр.
    %p Безнең сайтта банк карталарын куллану өчен, "Түләргә" төймәсенә баскач, партнер-сервис битендә уң яктагы исемлектәге "Банковский платеж" бүлегендә Visa яки MasterCard төймәсенә басыгыз. Сез банк картасы аша түләүне башкарырга ярдәм итә торган сервиска күчәчәксез. Барлыкка килгән инструкцияләрне үтәп, сез әсәрне сатып ала алачаксыз.

.row.pay-item#other
  .col-sm-12.col-md-offset-2.col-md-8
    %p Сайтта түләү өчен шулай ук liqPay, Альфа.Клик кебек сервисларны файдалана аласыз. Алга таба бу исемлекне популяр берничә түләү системасы белән тулыландыру планнаштырыла.
    %p Сез сайтны куллану буенча туган сорауларыгазны, киңәшләрегезне xat@khayat.ru адресына җибәрә аласыз.
