- provide(:title, "Ярдәм")
.row.help-item.center
  %h1.page-header Ярдәм
  %h2 Сайттагы әсәрне сатып алу берничә адымнан тора
= render 'first_step'
= render 'second_step'
= render 'third_step'
= render 'last_step'
= render 'pay_systems'
