- provide(:title, @post.title)
- content_for :head do
  %meta{ property: "og:description", content: truncate(strip_tags(@post.body.html_safe), length: 128) }
  %meta{ name: "description", content: truncate(strip_tags(@post.body.html_safe), length: 128) }
.row.center
  %h1= @post.title
  .post-cover
    = image_tag @post.cover.to_s, class: "img-rounded center-block"
  = render 'shared/share'
.row
  = @post.body.html_safe
- unless @similars.empty?
  .row
    %h3.text-center.page-header Охшаган мәкаләләр
    = render partial: 'col', collection: divide_into_col(@similars), as: :similars


