- if user_signed_in?
  - if current_user.can_read?(fiction)
    = link_to t('.read'), first_episode_path(fiction), class: 'btn btn-info'
  - else
    = form_for current_user.payments.build(fiction_id: fiction.id) do |f|
      .hidden= f.hidden_field :fiction_id
      = f.submit t('.buy'), class: 'btn btn-primary'
- else
  = link_to t('.buy'), new_user_session_path, class: 'buy btn btn-primary'
= link_to 'Click here', '#', class: 'buy', data: { id: fiction.id, title: fiction.title, author: fiction.author.to_s, price: fiction.price, cover: fiction.cover.thumb.url.to_s }
