.panel.panel-default
  .panel-heading
    %h3.panel-title
      = link_to fiction.title, '#'
  .panel-body
    %p Здесь должно быть описание произведения
  .panel-footer
    %span.label.label-info
      = "Genre: #{ fiction.genre.name }"
    = link_to "Author: #{ fiction.author.email }", user_path(fiction.author), class: "label label-primary"
    = link_to "Buy", '#', class: "btn btn-primary"
