= form_for fiction, html: { multipart: true } do |f|
  .col-md-6
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group
      %table.flex-table
        %td.flex-table-left
          = f.label :genre_id
          = f.select :genre_id, Genre.all.map{ |genre| [t("genres.#{genre.name}"), genre.id] }
        %td.flex-table-right
          = f.label :author_id
          = f.select :author_id, User.all.select{ |user| user.writer }.map{ |user| [user.email, user.id] }, class: "form-control"
    .form-group
      = f.label :cover
      = f.file_field :cover, class: "form-control"
  .col-md-6
    .form-group
      = f.label :body
      = f.text_area :body, class: "form-control"
    .form-group
      %table.flex-table
        %td.flex-table-left
          = f.label :price
          = f.text_field :price, class: "form-control"
        %td.flex-table-right
          = f.submit "Post", class: "btn btn-lg btn-primary"
