.panel.panel-default
  .panel-heading
    %h2.panel-title= link_to fiction.title, fiction
    = render 'fictions/admin_links', fiction: fiction
  .panel-body
    %p Здесь должно быть описание произведения
  .panel-footer
    = link_to "Genre: #{ fiction.genre.name }", '#', class: "label label-info"
    = link_to "Author: #{ fiction.author.email }", user_path(fiction.author), class: "label label-primary"
