.col-md-4.col-sm-6
  .thumbnail
    =link_to fiction_path(fiction) do
      .fiction-header
        %h4
          = fiction.title
          %small
            = "(#{fiction.genre})"
      = image_tag fiction.cover.thumb.url.to_s
    .caption
      = render 'action', fiction: fiction
      = link_to t('fictions.action.more'), fiction, class: 'btn btn-default'
      %span.ribbon
        = fiction.price.to_s
        %span.glyphicon.glyphicon-ruble
