.col-md-4
  .thumbnail
    .caption
      %h3
        = fiction.title
        %small
          = link_to "Genre: #{ fiction.genre.name }", '#'
          = link_to "Author: #{ fiction.author.email }", user_path(fiction.author)
      = render 'fictions/admin_links', fiction: fiction
      %p= "Здесь должно быть описание произведения #{ link_to t('label.more'), fiction, class: "label label-primary" }".html_safe
