#modal.modal.fade{ role: 'dialog', tabindex: '-1', aria: { hidden: 'true', labelledby: 'loginModalLabel' } }
  .modal-dialog
    .modal-content
      .modal-body.center#cover{style: "background-image: url(#{fiction.cover.url.to_s})" }
        .overlay
          %h1#title= fiction.title
          %h4#author= fiction.author
          %p= fiction.genre
      .modal-footer
        = render 'pay_actions', fiction: fiction
