- provide(:title, @fiction.title)
.page-header
  %h1
    = @fiction.title
    %small
      = @fiction.author_name
.row
  .col-md-3.col-sm-6
    .row
      = image_tag @fiction.cover.thumb.url.to_s, class: "img-thumbnail"
    .row.stat.center
      .panel.panel-default
        .panel-body
          = render 'buy', fiction: @fiction
        .panel-footer
          = render 'shared/share'
  .col-md-9.col-sm-6
    %div{ class: "#{@fiction.genre.poetry? ? "poetry" : "prose"}" }
      = markdown @fiction.body
