%footer.footer.row
  .col-md-3.col-sm-4
    %ul.list-unstyled.social
      %li
        = link_to 'http://vk.com/KhayatRu', target: '_blank' do
          %span.fa.fa-vk
          Безнең төркем
      %li
        = mail_to 'xat@khayat.ru' do
          %span.fa.fa-envelope
          xat@khayat.ru
  .col-md-offset-3.col-md-6.col-sm-8
    %ul.right
      %li= link_to t('footer.about'), about_path
      %li= link_to t('footer.for_readers'), for_readers_path
      %li= link_to t('footer.for_writers'), for_writers_path
      %li= link_to t('footer.help'), help_path
  = render 'layouts/metrika'
